# Copy to generatorJdbc.properties (gitignored) before running MyBatis Generator
jdbc.driverClass=com.mysql.cj.jdbc.Driver
jdbc.url=jdbc:mysql://localhost:3306/flydeer?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
jdbc.username=flydeer
jdbc.password=flydeer
