<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flydeer.repository.mysql.mapper.AtlasExtMapper">

  <resultMap id="BaseResultMap" type="com.flydeer.repository.mysql.entity.AtlasEntity">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="description" jdbcType="VARCHAR" property="description"/>
    <result column="author_id" jdbcType="BIGINT" property="authorId"/>
    <result column="author_name" jdbcType="VARCHAR" property="authorName"/>
    <result column="status" jdbcType="VARCHAR" property="status"/>
    <result column="tags_json" jdbcType="VARCHAR" property="tagsJson"/>
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
  </resultMap>

  <select id="selectByQuery" resultMap="BaseResultMap">
    SELECT
      `id`, `name`, `description`, `author_id`, `author_name`,
      `status`, `tags_json`, `created_at`, `updated_at`
    FROM `atlas`
    <where>
      <choose>
        <when test="query.editableOnly != null and query.editableOnly">
          AND `author_id` = #{query.viewerId}
        </when>
        <when test="query.viewerId != null">
          AND (`status` = 'published' OR `author_id` = #{query.viewerId})
        </when>
        <otherwise>
          AND `status` = 'published'
        </otherwise>
      </choose>
      <if test="query.keyword != null and query.keyword != ''">
        AND (
          `name` LIKE CONCAT('%', #{query.keyword}, '%')
          OR `description` LIKE CONCAT('%', #{query.keyword}, '%')
          OR `author_name` LIKE CONCAT('%', #{query.keyword}, '%')
        )
      </if>
      <if test="query.tags != null and query.tags.size() &gt; 0">
        AND (
        <foreach collection="query.tags" item="tag" separator=" OR ">
          JSON_CONTAINS(`tags_json`, JSON_QUOTE(#{tag}))
        </foreach>
        )
      </if>
    </where>
    ORDER BY `updated_at` DESC
  </select>

  <select id="selectAllTagsJson" resultType="java.lang.String">
    SELECT `tags_json` FROM `atlas`
  </select>
</mapper>
